.prueba{
    display: flex;
    justify-content: center;
    margin: 100px 0;
    z-index: -10;
}
section{
    display: flex;
    width: 1200px;
    height: 600px;
}

section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

section img:hover{
    cursor: pointer;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
} 

.img:hover{
    background-image: url('https://cdn.pixabay.com/photo/2016/03/18/15/02/ufo-1265186_1280.jpg');
}

/*sdfklgnsdklfgnsdfngksdf*/
