#proyects{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 150px 0;

}

.containerMainProyects{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.poyectsTitle h2{
    color: var(--main-primary-color);
    font-size: 1.7rem;
    margin: 100px;
}

.contenedor{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.contenedorProyectos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.contenedor figure{
   position:relative;
    height: 350px;
    width: 500px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
}
.contenedor figure img{
    width: 100%;
    height: 100%;
    transition: 400ms ease-out;
    will-change: transform;
}
.contenedor figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(234, 0, 255, 0.5);
    transition: 400ms ease-out;
    opacity: 0;
    visibility: hidden;
   text-align: center;
}
.contenedor figure:hover > .capa {
    opacity: 1;
    visibility: visible;
}
.contenedor figure:hover > .capa h3{
    margin-top: 70px;
    margin-bottom: 15px;
}
.contenedor figure:hover > img{
    transform: scale(1.3);
}
.contenedor figure .capa h3{
    color: var(--main-primary-color);
    font-weight: 400;
    margin-bottom: 120px;
    transition: 400ms ease-out;
     margin-top: 30px;
}
.contenedor figure .capa p{
    color: var(--main-primary-color);
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}

.contenedor figure .capa button{
    margin: 10px;
    border-radius: 20px;
    border: 1px solid var(--main-primary-color);
    color: var(--main-primary-color);
    font-family: '1';
    font-size: .6rem;
    letter-spacing: 1px;
    transition: .7s;
}

.capa button:hover{
    border: 1px solid var(--main-primary-color); 
    background-color: var(--main-primary-color);
    color: var(--main-alert-color) !important;  
}

.contenedor figure .capa button i{
    font-size: 1rem;
}

.buttonsProyect{
    margin: 10px;
    border-radius: 20px;
    border: 1px solid var(--main-primary-color);
    color: var(--main-primary-color);
    font-family: '1';
    font-size: .6rem;
    letter-spacing: 1px;
    transition: .7s;
}

.buttonsProyect:hover{
    border: 1px solid var(--main-primary-color); 
    background-color: var(--main-primary-color);
    color: var(--main-alert-color);   
}

.buttonsProyect i{
    font-size: 1rem !important;
}

.verMasButton{
    margin: 100px;
    border-radius: 20px;
    border: 1px solid var(--main-primary-color);
    color: var(--main-primary-color);
    font-family: '1';
    font-size: .6rem;
    letter-spacing: 1px;
    transition: .7s;
}

.verMasButton:hover{
    border: 1px solid var(--main-primary-color); 
    background-color: var(--main-primary-color);
    color: var(--main-alert-color);   
}