.containerMain{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.containerBox{
    display: flex;
    width: 1300px;
    height: 500px;
    justify-content: center;
    align-items: center;
    padding: 25px;
    color: var(--main-primary-color);
    gap: 50px;
}

.contInfo{
    width: 100%;
}

.contInfo h3{
    padding: 15px 0;
    color: var(--main-primary-color);
}

.contInfo h1{
    color: var(--main-primary-color);
}

.contInfo p{
    padding: 0 30px 10px 0;
    font-size: 1.1rem;
    width: 800px;
}

.contImg{
    border-radius: 5000px;
    border: 2px solid white;
    padding: 15px;
    width: 440px;
    height: 340px;
}

.contImg img{
    width: 100%;
}

.buttonHeader{
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 25px;
    border: 1px solid var(--main-primary-color);
    color: var(--main-primary-color);
    font-family: '1';
    font-size: .6rem;
}

.buttonHeader:hover{
    background-color: var(--main-primary-color);
    color: var(--main-alert-color);
}

.btnActive{
    background-color: var(--main-primary-color);
    color: var(--main-alert-color);
}
